<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 必须和你的 Mapper 接口全类名一致 -->
<mapper namespace="lds.com.medicalsystem.staff.doctor.mapper.DoctorPersonalMapper">
    <select id="searchDoctorWorkTable" resultType="lds.com.medicalsystem.staff.doctor.VO.DoctorWorkTableVO">
        select wt.work_date,wt.work_time,d.doctor_no,d.doctor_name,dept.dept_name,wt.reserve_max,wt.reserved
            from work_table wt
            inner join doctor d on wt.doctor_no = d.doctor_no
            inner join dept on d.dept_id = dept.dept_id
        where d.doctor_no=#{doctorNo}
    </select>

    <update id="update">
        update doctor
        set email = #{email}, specialty = #{specialty}, phone = #{phone}
        where doctor_no = #{doctorNo};
    </update>

    <update id="updateURL">
        update doctor set doctor_pic = #{doctorPic} where doctor_no = #{doctorNo}
    </update>
</mapper>